__pycache__/
*.py[cod]
.pytest_cache/
.ruff_cache/
.mypy_cache/

.venv/
venv/
env/

.tmp_pdf_lib/

*.pt
data/raw/*
!data/raw/.gitkeep
data/_work/*
!data/_work/.gitkeep
data/labeling/images/*

models/*.pt
models/*.onnx
models/*.engine
